body {
    margin: 0;
    padding: 5vh 10vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

body div {
    flex: 1 1 20vh;
}

#title {
    margin: auto;
    font-size: xx-large;
    text-align: center;
}

#round-limit,
#round-count {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#round-limit button {
    padding: 10px 30px;
    font-size: 50px;
    border-radius: 40px;
}

#round-count button {
    height: 80px;
    width: 80px;
    font-size: 50px;
    border-radius: 50%;
}

#begin {
    display: flex;
    justify-content: center;
    align-items: center;
}

#begin button {
    font-size: 35px;
    padding: 20px;
}